{% extends "layout.html" %}

{% block body %}
<h1>Webtrigger Events</h1>

Last 10 Events
<table>
    <thead>
        <tr>
            <th>timestamp</th>
            <th>package</th>
            <th>item</th>
            <th>item_type</th>
        </tr>
    </thead>
    <tbody>
        {% for event in recent_events %}
        <tr>
            <td>{{ event.timestamp.strftime('%Y%m%d-%H:%M:%S') }}</td>
            <td>{{ event.package.name }}</td>
            <td>{{ event.item }}</td>
            <td>{{ event.item_type }}</td>
        </tr>
        {% else %}
        <tr>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Create New Event</h3>

<form method="post" action="{{ url_for('main.event') }}">
  {{ event_form.csrf_token }}
  <div class="row">
    <div class="large-6 columns">
        <label>{{ event_form.item.label }}
        {{ event_form.item }}
      </label>
    </div>
    <div class="large-6 columns">
        <label>{{ event_form.item_type.label }}
        {{ event_form.item_type }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
        <label>{{ event_form.package.label }}
        {{ event_form.package }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
        <input type="submit" value="Create Event">
    </div>
  </div>
</form>


{% endblock %}
