
{% extends "layout.html" %}

{% block body %}
<h1>Taskotron Web Trigger</h1>

<p>
This is just an example page for the index
</p>

<h3>Jobs</h3>
<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Package Name</th>
            <th>item</th>
            <th>item_type</th>
            <th>Check Name</th>
            <th>link</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{ job.timestamp.strftime('%Y%m%d-%H:%M:%S') }}</td>
            <td>{{ job.event.package.name }}</td>
            <td>{{ job.event.item }}</td>
            <td>{{ job.event.item_type }}</td>
            <td>{{ job.trigger.check_name }}</td>
            <td><a href="{{ config.EXECDB_URL }}/jobs/{{ job.uuid }}">execdb</a></td>
        </tr>
        {% else %}
        <tr>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

