<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">

        <meta name="description" content="{{ meta_description }}">
        <meta name="author" content="{{ meta_author }}">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation-icons.css') }}" />
        <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>

        {% block jsheader %}
        <script type="text/javascript">
        </script>
        {% endblock %}

        <title>{{ title }}</title>

    </head>


    <body>
        <div class="row">
            <div class="large-12 columns">
                <div class="icon-bar four-up">
                    <a class="item" aria-labelledby="#homelabel" href="{{ url_for('main.index') }}">
                        <i class="fi-home"></i>
                        <label id='homelabel'>Home</label>
                    </a>
                    <a class="item" aria-labelledby="#packagelabel" href="{{ url_for('main.package') }}">
                        <i class="fi-plus"></i>
                        <label id='packagelabel'>Add Package</label>
                    </a>
                    <a class="item" aria-labelledby="#triggerlabel" href="{{ url_for('main.trigger') }}">
                        <i class="fi-wrench"></i>
                        <label id='triggerlabel'>Configure Triggers</label>
                    </a>
                    <a class="item" aria-labelledby="#eventlabel" href="{{ url_for('main.event') }}">
                        <i class="fi-upload-cloud"></i>
                        <label id='eventlabel'>Create Event</label>
                    </a>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">

                {% block body %}
                <h1> webtrigger Layout</h1>

                <p>
                This is just an example page if the layout is not overridden
                </p>
                {% endblock %}
            </div> <!-- closing main large-12 grid -->
        </div> <!-- closing main row -->
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>
</html>
