{% extends "layout.html" %}

{% block body %}
<h1>Known Packages</h1>
<table>
    <thead>
        <tr>
            <th>Package Name</th>
        </tr>
    </thead>
    <tbody>
        {% for package in known_packages %}
        <tr>
            <td>{{ package.name }}</td>
        </tr>
        {% else %}
        <tr>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add New Package</h3>

<form method="post" action="{{ url_for('main.package') }}">
  {{ pkg_form.csrf_token }}
  <div class="row">
    <div class="large-12 columns">
        <label>{{ pkg_form.name.label }}
        {{ pkg_form.name }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
        <input type="submit" value="Add Package">
    </div>
  </div>
</form>
{% endblock %}

