{% extends "layout.html" %}

{% block body %}
  <h1>Task Triggers</h1>

<table>
    <thead>
        <tr>
            <th>package</th>
            <th>item_type</th>
            <th>Task Name</th>
            <th>Repo</th>
        </tr>
    </thead>
    <tbody>
        {% for trigger in triggers %}
        <tr>
            <td>{{ trigger.package.name }}</td>
            <td>{{ trigger.item_type }}</td>
            <td>{{ trigger.task_name }}</td>
            <td>{{ trigger.repourl }}</td>
        </tr>
        {% else %}
        <tr>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3>Add New Trigger</h3>

<form method="post" action="{{ url_for('main.trigger') }}">
  {{ trigger_form.csrf_token }}
  <div class="row">
    <div class="large-6 columns">
        <label>{{ trigger_form.task_name.label }}
        {{ trigger_form.task_name }}
      </label>
    </div>
    <div class="large-6 columns">
        <label>{{ trigger_form.repourl.label }}
        {{ trigger_form.repourl }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
        <label>{{ trigger_form.package.label }}
        {{ trigger_form.package }}
      </label>
    </div>
    <div class="large-6 columns">
        <label>{{ trigger_form.item_type.label }}
        {{ trigger_form.item_type }}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-2 columns">
        <input type="submit" value="Add Trigger">
    </div>
  </div>
</form>

{% endblock %}

